<!--containr containg the whole form of the create project-->
   <div class="container">
    <div class="projectcontainer">
    <form action="/" method="post">
        <div>
        <p>Project Name</p>
        <input id="projectname" type="text" name="projectName" placeholder="Enter Project Name" required>
    </div>
    <div>
        <p>Description</p>
        <textarea id="description" name="description" placeholder="Enter Description" rows="4" cols="53" required></textarea>
    </div>
    <div>
        <p>Author Name</p>
        <input type="text" id="authorname" name="authorname" placeholder="Enter author Name" required>
    </div>
        <button type="submit" class="btn-btn-project">Create Project</button>
    </form>
</div>
   </div>
