<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <title>Document</title>
</head>
<body>
    <!--navabr that is common in all the pages-->
    <div class="navbar">
  <div><img src="location.png" width="60px"><span class="title"><span>Issue</span>Tracker</span></div>
  <button class="btn-details"><a href="/collection">Project Details</a></button>
    </div>
</div>
<!-- for rendering all the pages-->
<%-body%>
</body>
</html>